*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column ;
    /* align-items: center; */
}
.header-left img{
    height: 48px;
    margin-left: 10px;
    object-fit: contain;
    
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    border-bottom: 0.1px solid lightgrey;
    padding: 4px;
    z-index: 999;
    background-color: white;
}
.header-left{
    display: flex;
}
.header-right{
    display: flex;
}
.header-search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: grey;
    height: 22px;
    background-color: #eef3f8;
}
.header-search input{
    border: none;
    outline: none;
    background: none;
}
.headerOption {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-right: 20px;
 color: grey;
 cursor: pointer;
}
.headerOption:hover{
    color: black;
}
.headerOption h3{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 150;
    display: flex;
    
}
.headerOption-icon{

    margin-right:5px;
    height: 20px;
    width: 20px;

}


/* header-scroll */
.header-scroll{
    text-align: center;
    padding-top: 20px;
    margin-bottom: -20px;
}

/* main-body */

.body-main{
    display: flex;
    margin-top: 35px;
    max-width: 1200px;
    margin-left: 70px;
    margin-right: 20px;
}

/*side-bar..*/
 .sidebar{
    position: sticky;
    top: 80px;
    flex:0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}
    
.sidebar-top img{
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey ;
    border-bottom: 0; 
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: white;
    padding-bottom: 10px;
}
 .sidebar-topAvtar{
     font-size: 40px;
 } 
  
.sidebar-stats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgrey ;
    background-color: white;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.sidebar-stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
} 
.sidebar-stat p{
    color: grey;
    font-size: 13px;
    font-weight: 600;
}   
.sidebar-statNumber{
    font-weight: bold;
    color: #0a66c2 !important;
}
.sidebar-top h4{
    color: grey;
    font-size: 12px;
    margin-top: 5px;
}
.sidebar-top h2{
    font-size: 18px;
}
.sidebar-bottom{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.sidebar-recentItem{
    display: flex;
    font-size: 13px;
    color: grey;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}
.sidebar-recentItem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}
.sidebar-hash{
    margin: 0 10px;
}
.sidebar-bottom p{
    font-size: 14px;
    padding-bottom: 10px;
}
/*feed*/
.feed{
    flex: 0.6;
    margin: 0 20px;
}
.feed-inputContainer{
     background-color: white;
     padding: 10px;
     padding-bottom: 20px;
     border-radius: 10px;
     margin-bottom: 20px;
}
.feed-input{
    display: flex;
    padding-left: 30px;
}
.feed-input .material-icons{
    margin-top: 6px;
    margin-right: 7px;
    font-size:45px;
    cursor: pointer;
 
}
.feed-input form{
    border: 1px solid lightgrey;
    border-radius: 30px;
    display: flex;
    width: 83%;
    padding: 10px;
    color: grey;
   
}
.feed-input form input{
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 600;
    cursor: pointer;
}
.feed-input :hover{
    background-color: rgb(238, 235, 235);
}
.feed-inputOptions{
    display: flex;
    justify-content: space-evenly;
}
.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: grey;
    padding: 10px;
    cursor: pointer;
}
.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.inputOption h4{
    margin-left: 5px;
}


/* post section  */
.post{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
 }
.post-header{
    display: flex;
    margin-top: 15px;
 }
 .post-header .logo{
    margin-top: -10px;
    display: flex;
     height: 70px;
     width: 80px;
 }
.post-info{
    margin-left: 10px;
 }
.post-info p{
    font-size: 12px;
    color: grey;
}
.post-info h2{
    font-size: 15px; 
} 
.post-body img{
    width: 100%;
}

/* widgetsection */
.widget{
position: sticky;
top: 80px;
flex: 0.2;
background: white;
border-radius: 10px;
border: 1px solid lightgrey;
height: fit-content;
padding-bottom: 10px;

}
.widget-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.widget-header h2{
    font-size: 16px;
    font-weight: 400;

}
.widget-article{
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.widget-article:hover{
    background-color: whitesmoke;
}
.widget-article-left{
    color:grey;
    margin-right: 5px;
}

.widget-article-left .material-icons{
    font-size: 15px;
}
.widget-article-right{
    flex:1;

}
.widget-article-right h4{
    font-size: 14px;
}
.widget-article-right p{
    font-size: 12px;
    color: grey;
}

@media only screen and (min-width: 320px){
    .post-header{
        width: 100%;
        
    }
}
@media (min-width:769px) and (max-width:1440px){
    .post{
        width: 90%;
        padding: 10px 35px;
    }
}
